.movieList-header {
    display: flex;
    justify-content: space-between;
}
.movieList-header li, select{
    cursor: pointer;
}
.movieList-filter {
    display: flex;
    justify-content: row;
    gap: 1rem;
    align-items: center;
}
.movieList-ratings {
    display: flex;
    justify-content: row;
    gap: 1rem;
}
.movieList-ratings li{
    list-style-type: none;
}
.movieList-cards {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}