.card-container {
display: flex;
flex-wrap: wrap;
}
.MovieCard {
    width: 200px;
    height: 300px;
    margin: 15px;
    overflow: hidden;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    position: relative;
}
.MovieCard:hover {
    transform: scale(1.08);
    transition: all 0.2s ease-in-out;
}
.movie-poster {
width: 100%;
height: 100%;
object-fit: cover; 
}
.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
}
.movie-details * {
    margin: 2px 10px 0 2px; /* Resets all child element margins */
}
.MovieCard:hover .movie-details{
opacity: 1;
}
.movie-details-heading {
    color: #ffe400;
}

.movie-date-rate {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
    font-size: 12px;
}
.movie-description {
    font-style: italic;
    font-size: 15px;
    width: fit-content;
    margin-bottom: 20px;
}