.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid white;
}
.navbar h1 {
    color: gold;
}
.navbar-links {
    display: flex;
    gap: 1rem;
}
.navbar-links a {
        text-decoration: none;
    color:white;
}